* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Tahoma, Bitstream Vera Sans, sans-serif;
    width: 100%;
}

.header {
    background-color: white;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 4;
}

.header img {
    width: 200px;
}


.header-desc {
    display: flex;
    align-items: center;
    gap: 50px;
    font-weight: 300;
}

.header-sign img {
    width: 16px;
}

.lang-currency {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.header-sign__btn1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    border: transparent;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    font-size: medium;
    cursor: pointer;
}

.header-sign__btn1:hover {
    opacity: 0.8;
    box-shadow: 2px 2px 2px black;
}

.header-sign__btn2 {
    padding: 10px;
    background: linear-gradient(#34E0A1,#222);;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;


}

.header-sign__btn2:hover {
    opacity: 0.8;
}

.header-sign__btn2:active {
    background-color: black;
    opacity: 0.5;
    color: #B1B1B1;
}

.heading-section {
    text-align: center;

}

.heading-section h1 {
    font-size: 50px;
    font-weight: 800;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif
}

.section-c {
    display: flex;
    justify-content: center;
    margin: 30px;
    gap: 50px;


}

.section-c i {
    padding-right: 9px;
}

.section-c p:hover {
    opacity: 0.5;
    text-decoration: underline;

}

.section-d {
    margin-left: 22%;
    margin-right: 22%;

}

.navbar {
    border: 1px solid lightgray;
    border-radius: 30px;
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 1px #B1B1B1;

}

.navbar input {
    outline: none;
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
    padding-left: 10px;
}

.navbar__button {
    padding: 10px 20px 10px 20px;
    background-color: #34E0A1;
    border: 1px solid black;
    border-radius: 20px;
    font-size: medium;
    font-weight: 500;
}

.navbar__button:hover {
    opacity: 0.8;
}

.navbar__button:active {
    background-color: #5DE6B4;
    opacity: 0.7;
    color: black;
}

.img-container {
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 50px;
    position: relative;
}

.dash-img img {
    width: 100%;
    height: 500px;
    border-radius: 20px;

}

.img__desc {
    position: absolute;
    bottom: 100px;
    padding: 20px;
    color: white;
}

.img__desc h1,
p,
span {
    padding: 5px;
}

.img__desc p {
    font-size: larger;
}

.span-btn {
    padding: 14px 24px;
    border-radius: 24px;
    position: absolute;
    bottom: 50px;
    left: 20px;
    background-color: white;
    color: black;
    border: white 1px solid;
    font-size: medium;
    cursor: pointer;

}

.span-btn:hover {
    background-color: #E5E5E5;
}

.span-btn:active {
    background-color: #E5E5E5;
    opacity: 0.8;
}

.section-e {
     margin-top: 10px;
    padding: 10px;
    margin-left: 12%;
    margin-right: 5%;
    

}

.items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    width: 100%;
    gap: 10px;
    position: relative;
}
.hotel-img:hover{
    opacity: 0.8;
}
.hotel-img:active{
    opacity: 0.6;
}
.hotel-img img {
    width: 275px;
    height: 250px;
    border-radius: 10px;

}
.hotel-img h2{
    position: absolute;
    bottom: 10px;
    padding: 10px;
    color: white;
}
.section-f{
    margin-top: 10px;
    padding: 10px;
    margin-left: 12%;
    margin-right: 5%; 
    
}
.devotional-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
  
    gap: 10px;
}
.devo__img{
    width: 22%;
    

}
.devo__img img{
    width: 275px;
    height: 250px;
    border-radius: 10px;
}
.devo__img p{
    font-weight: 500;
   
}
.devo__img:hover{
    opacity: 0.8;
}
.devo__img:active{
    opacity: 0.6;
  
}
.section-g{
   
    padding: 10px;
    margin-top: 50px;
    background-color: #F2F1EC;

}
.section-g-title h2{
    margin-left: 13%;
    margin-top: 10px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
   
.section-g__image{
    display: flex;
    gap: 10px;
    margin-top: 40px;
     justify-content: center;
    
}
.img__card{
width: 25%;

}
.section-g__image img{
    width: 360px;
    height: 250px;
    border-radius: 10px;
}
.section-g__image img:hover{
    opacity: 0.8;
}

.img__card h3{
margin-top: 10px;
    text-align: center; 
    
}
.img__card h3:hover{
    opacity: 0.8;
    text-decoration: underline;
}
.section-h{
    padding: 10px;
    margin-top: 50px;
}
.section-h-title{
    margin-left: 10%;
}
.section-h-title h1{
    padding:20px ;
    
}
.section-h-title h2{
     
    font-weight:300px;
    padding:20px ;
}
.section-h-container{
    display: flex;  
    padding: 10px;
    margin-top: 10px;
    justify-content: center
    

}
.section-h-card{
    position: relative;
    width: 20%;
   
}
.section-h-card:hover{
    opacity: 0.8;
}
.section-h-card:active{
    opacity: 0.6;
    transition: 0.2s;
}
.section-h-card h2{
    color: white;
    position: absolute;
    bottom: 20px;
    
    
}

.section-h-card img{
     width: 275px;
    height: 250px;
    border-radius: 10px;
}
.section-i{
   padding: 10px;
     
}
.heading-title{
    margin-left: 10%;
}
.course-card{   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    padding-right: 10px;
   
}
.card{
    width: 20%;
    position: relative;
}
.card img{
     width: 275px;
     height: 250px;
    border-radius:25px;
}
.card h2{
    color: antiquewhite;
    padding: 10px;
    position: absolute;
    bottom: 10px;
}
.card:hover{
    opacity: 0.8;
}
.card:active{
    opacity: 0.6;
    transition: 0.2s;
}
.wrapper{
    margin: 50px;
    padding: 24px;
    
    
}
.card-container{
    width: 85%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    background-color: #F2ECF9;
    margin-left: 50px;
    
   
}
.card-wrap__img img{
    width: 600px;
    height: 500px;
    padding: 24px;
    border-radius: 50px;
}
.card-sponsored p{
   text-align: center; 
       padding: 20px;
}
.card-desc{
    text-align: center; 
    padding: 10px;
    width: 80%;
    margin-left: 10%;
    position: relative;
}
.learn_btn{
    padding: 10px;
    margin: 10px;
    background: #222;
    color: white;
    border-radius: 30px;
    position: absolute;
    top: 100px;
    left: 150px;
    padding: 10px 20px;
}
.learn_btn:hover{
    opacity: 0.8;
}
.learn_btn:active{
    opacity: 0.6;
    background-color: black;
}
.awards-container{
    background-color: #FFF7E1;
    position: relative;
}
.awards-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.awards-illustration{
    width: 20%;
    align-content: center;
    text-align: start;
    z-index: 2;
}

.awards-illustration__btn{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: small;
    font-weight: bold;
    margin-top: 20px;
    
}
.awards-illustration__btn:hover{
    opacity: 0.8;
}
.awards-illustration__btn:active{
    opacity: 0.6;
    transition: 0.5s;
    
}
.awards-img img{
    width: 600px;
    height: 500px;
    border-bottom-left-radius: 200px;
    border-top-right-radius: 200px;
    position: relative;
    z-index: 2;

}
.circle{
    
     z-index: 3;
}
.green{
 background-color: #34E0A1;
   width: 200px;
    height: 200px;
    bottom: 300px;
    left: 75%;
    border-radius: 50%;
    position: absolute;
}
.yellow{
    background-color: #455428;
   width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    left: 30%;
    bottom: 50px;
}
.footer{
    background-color:#F2F2F2;
    margin-top: 40px;
}
.footer-about{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: 30px;
    margin-left: 200px;
    gap: 20px;
}
.footer-options__title{
    opacity: 0.7;
}
.footer-options p{
    font-size: 14px;  

}
.footer-options p:hover{
    text-decoration: underline;
    opacity: 0.8;;
}

.footer-logo-container{
    display: flex;
   padding-left: 30px;
    margin-left: 200px; 
      
}
.authorise{
    font-size: small;
}
.footer-terms{
    display: flex;
    gap: 10px;  
}
.footer-terms p:hover{
    text-decoration: underline;
    opacity: 0.8;;
}
.dropdown-container{
    padding: 20px;
}
.dropdown_currency{
    border: 1px solid;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    width: 200px;
}
.dropdown_currency option{
    text-align: start;
}
.dropdown_country{
     border: 1px solid;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    width: 200px;
}
.dropdown_country option{
    text-align: start;
}
.footer-desc{
    width: 50%;
    margin-left:230px;
    position: relative;
    bottom: ;
}
.footer-desc p{
    font-size: small;
}

